h1{
  margin-left: 30px;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 706;
  font-style: normal;
  font-variation-settings: "wdth" 100;
 
  padding-left: 70px;
  padding-top: 100px;
  font-size: 100px;
}

.footerlinks{
   padding-left: 50px;
   margin-top: 25px;
   font-size: 20px;
   text-decoration: none;
}

.footerlinks:hover{
    font-size: 30px;
    text-decoration: underline;
}

.bestell-confirmation{
  
  margin-bottom: 20px;
  font-size: 50px;
  color: rgb(1, 88, 1);

}

.warenkorbText{
  text-decoration: underline;
}

.bambini{
  color: green;
  font-size: 100px;
}

.italian{
  color: white;
  font-size: 100px;
  margin-left: 20px;
  text-shadow:  2px 2px #FFF50F

}

.restaurant{
  color: red;
  font-size: 100px;
  margin-left:20px;
  margin-right: 400px;
  text-shadow:  2px 2px #FFF50F

}

.title{
  display: flex;
  justify-content: center;
  margin-top: 190px;
  text-shadow:  2px 2px #FFF50F
  
}

dialog{
  width: 350px;
}

@media(max-width: 1500px){
  .italian{
    font-size: 70px;
  }
  .bambini{
    font-size: 70px;

  }
  .restaurant{
    font-size: 70px;
  }
  .bestell-confirmation{
    font-size: 30px;
    margin-left: 0;
  }
}

@media(max-width: 1170px){
  .italian{
    font-size: 70px;
    margin:0;
  }
  .bambini{
    font-size: 70px;
    margin:0;

  }
  .restaurant{
    font-size: 70px;
    margin:0;
  }

  .title{
   flex-direction: column;
    margin-top: 100px;
    align-items: center;
    margin-right: 300px;
  }

  .titlelink{
    margin-top: 150px;
  }
}

@media(max-width: 1000px){
  .title{
    margin-right: 0;
  }

}

@media(max-width: 500px){
  .bestell-confirmation{
    font-size: 20px;
    
  }
}
@media(max-width: 400px){
 dialog{
   width: 300px;
}
 
}

@media(max-width: 360px){
 dialog{
   width: 270px;
}
 
}