h1{
  margin-left: 30px;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 706;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

.links{
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
   font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 194;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
.linkgerichte{
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
    color: black;
}
.linkgerichte{
    margin-left: 30px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.linkgerichte:hover{
    text-decoration: underline;
}


.footerlinks{
    padding-left: 50px;
    margin-top: 25px;
    font-size: 20px;
    text-decoration: none;
}

.footerlinks:hover{
    font-size: 30px;
    text-decoration: underline;
}

