h1{
  margin-left: 30px;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 706;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: white;
  padding-left: 70px;
  padding-top: 100px;
  font-size: 100px;
}

.footerlinks{
   padding-left: 50px;
   margin-top: 25px;
   font-size: 20px;
   text-decoration: none;
}

.footerlinks:hover{
    font-size: 30px;
    text-decoration: underline;
}

