body{
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

header{
    position: relative;
    z-index: 1000;
    background-color: orange;
    width: 100%;
    height: 70px;
}

.logo{
    height: 50px;
    margin-top: 10px;
}

figure{
    margin-block-start: 0;
    margin-block-end: 0; 
}

.container{ 
    background-image: url(../img/italian-food.jpg);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

main{
    position: relative;
    display: flex;
    justify-content: space-between ;
    width: 100%;
    height: 100vb;
}
.Pdisches{
    padding-left: 20px;
}

.Pdischesname{
    padding-left: 20px;
}

.Pdischesname:hover{
     transition: 0.2s ease;
     transform: scale(1.15);
     cursor: pointer;
}

.disches{
    margin-left: 20px;
    margin-top: 20px; 
    width: calc(100% - 50px);
    border-radius: 10px;
    border-color: rgb(170, 170, 170);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3)
}

p{
    margin-block: 0;
    font-size: 20px;
}

.description{
    padding-bottom: 10px;
}

footer{
    position: relative;
    z-index: 500;
    background-color: orange;
    width: 100%;
    height: 70px;
    margin-top: 350px;
    display: flex;
    justify-content: center;  
}

.content{
    margin-top:530px;
    margin-left: 10px; 
}

.pricequantity{

    margin-left: 10px;
}

.titleLink{
    margin-top: 220px;
}

.starBox{
   margin-left: 20px;
}

.stars{
   margin-bottom: 20px;
}

.stars i{
    cursor: pointer;
}

.stars i.active{
    color: gold;
}


@media(max-width: 1500px){
  .starBox{
    padding-top: 30px;
  }

  footer{
    margin-top: 470px;
  }
}
@media(max-width:1170px){
   .titleLink{
    margin-top: 150px;
  }
}

@media(max-width:600px){

  footer{
    margin-top: 520px;
  }

}

@media(max-width:500px){

  footer{
    margin-top: 600px;
    flex-direction: column;
    height: 150px;
    padding-bottom: 25px;
  }
  footer a{
    margin-left: 120px;
    
  }

}

@media(max-width:375px){

  footer{
    margin-top: 630px;
  }

}

@media(max-width:360px){

  footer{
    margin-top: 670px;
  }

}

@media(max-width:330px){

  footer{
    margin-top: 690px;
  }

}





