body{
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

header{
    background-color: orange;
    width: 100%;
    height: 70px;
}
.logo{
    height: 50px;
    margin-top: 10px;
}

figure{
   margin-block-start: 0;
    margin-block-end: 0; 
}
.disches {
    margin-left: 20px;
    margin-top: 20px;
    border: solid 2px;
    width: 450px;

}

p{
    margin-block: 0;
}

.name:hover{
    font-size: 20px;
    cursor: pointer;
}
