body{
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    
}



header{
    background-color: orange;
    width: 100%;
    height: 70px;
}
.logo{
    height: 50px;
    margin-top: 10px;
}

figure{
    margin-block-start: 0;
    margin-block-end: 0; 
}


.container{
        background-image: url(../img/italian-food.jpg);
        background-repeat: no-repeat;
        background-position: center, center;
        background-size: cover;
        width: 100%;
        height: 500px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
}

main{
    
    display: flex;
    justify-content: space-between ;
    width: 100%;
    height: 100vh;

}
.Pdisches{
    padding-left: 20px;
}

.Pdischesname{
    padding-left: 20px;
}

.Pdischesname:hover{
     transition: 0.2s ease;
     transform: scale(1.15);
     cursor: pointer;
}

.disches{
    margin-left: 20px;
    margin-top: 20px; 
    width: calc(100% - 50px);
    border-radius: 10px;
    border-color: rgb(170, 170, 170);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3)

}

p{
    margin-block: 0;
    font-size: 20px;
    
}



.description{
    padding-bottom: 10px;
}



footer{
    display: flex;
    background-color: orange;
    width: 100%;
    height: 70px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    
}

.content{
    margin-top:530px;
    
}

.basket-total{
 margin-left: 20px;

}


.pricequantity{

    margin-left: 10px;
}


@media(min-width:751px) {
  .xwarenkorb{
    display: none;
  }
}




@media(max-width:1630px){
    footer{
        margin-top: 150px;
    }
}

@media(max-width:845px){
    footer{
        margin-top: 160px;
    }
    
}

@media(max-width:750px){
    footer{
        margin-top: 190px;

    }
    
}


@media(max-width:440px){
    footer{
        margin-top: 610px;

    }
    
}
@media(max-width:438px){
    footer{
        margin-top: 210px;

    }
    
}
@media(max-width:374px){
    footer{
        margin-top: 250px;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 20px;
        height: 150px;

    }
    
}

@media(max-width:373px){
    footer{
        margin-top: 250px;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 20px;
        height: 150px;

    }
    
}