  .basket-total{
 margin-left: 20px;
}
    .warenkorb{
    margin-left: 10px;   
}
  
.basket {
  background-color: white;
  width: 600px;
  height: 600px;
  flex-direction: column;
  padding-bottom: 20px;
}

.basketFest {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: white;
    box-shadow: -19px 2px 13px -6px rgba(0,0,0,0.56);
    z-index: 800;
}


/*media responsive*/

@media (min-width: 750px) {
  dialog {
    display: none
  }
}

@media (max-width: 750px) {
  .basketFest {
    display: none
  }
}


@media(max-width:859px){
  footer{
    margin-top: 150px;
  }
  .basket{
    padding-bottom: 130px;
  } 
}

 @media(max-width:500px){
  .footerlinks{
     padding-left: 0;
}
   
  footer{
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
    height: 150px;
    padding-bottom: 20px;
  }

    }
