
     
    .basket-total{
 margin-left: 20px;

}
    .warenkorb{
    margin-left: 10px;
}
    
    /* Estilo base: oculto por defecto */
.basket {
  
  background-color: white;
  width: 600px;
  height: 600px;
  flex-direction: column;
  pointer-events: none;
  padding-bottom: 20px;

}

.basketFest {
    
    position: absolute;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: white;
    border-left: 1px solid #ccc;
    padding: 1rem;
}

@media (max-width: 750px) {
  .basketFest {
    display: none
  }
}


@media(max-width:859px){

  footer{
    margin-top: 150px;
  }
  .basket{
    padding-bottom: 130px;
  }
  
}

    @media(max-width:500px){
   .footerlinks{
    padding-left: 0;
   }
   
  footer{
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
    height: 150px;
    padding-bottom: 20px;
  }

    }
