  .basket-total{
 margin-left: 20px;
}

  .warenkorb{
  margin-left: 10px;   
}
  
.basket {
  background-color: white;
  width: 600px;
  height: 600px;
  flex-direction: column;
  padding-bottom: 20px;
}

.basketFest {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: white;
    box-shadow: -19px 2px 13px -6px rgba(0,0,0,0.56);
    z-index: 800;
}

.basketFest {
  max-height: 100vh;
  overflow-y:scroll;
  padding: 1rem;
  background: #fff;
  border: 1px solid #ccc;
}


/*media responsive*/

@media (min-width: 1000px) {
  dialog {
    display: none
  }
}

@media (max-width: 1000px) {
  .basketFest {
    display: none
  }
}



